html{
    scroll-behavior: smooth;
}
body{
    font-family: Calibri;
}
.firstcarousel{
    position: absolute;
    top: 0;
    width: 100%;
}
.clientcaro{
    margin-top: 80px;
}
.carou_img{
height:100vh;

}
.about{
    margin-top: 50px;
    padding-bottom: 70px;
}
.aboutimg{
    background-color:rgb(255, 217, 0);
    padding-left: 15px;
    padding-bottom: 15px;
}
.abtimg{
    width: 100%;
    height: 550px;
}
.hryel{
    display: inline-block;
    color:#fcba13;
    height: 20px;
    margin-top: -10px;
    margin-bottom: 50px;
    
}
.hrye{
    display: inline-block;
    color:#fcba13;
    height: 20px;
    margin-top: -40px;
    margin-bottom: 50px;
    margin-left: 10px;
}
.paraabt{
    color: grey;
    line-height: 1.6;
    font-size: 17px;
}
.abtico{
    color:#fcba13;
    font-size: 40px;
    
}
.abtwrite{
    margin-left: 55px;
    margin-top: -60px;
}
.sq{
    display: inline-block;
    font-size: 6px;
    border: 2px solid #1a1a1a;
    color: #1a1a1a !important;
}
.squ{
    display: inline-block;
    font-size: 6px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #1a1a1a;
    color: #1a1a1a !important;
}
.squa{
    display: inline-block;
    font-size: 6px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid white;
    color: white !important;
}
.third{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(241, 241, 241);

}
.thirdwr{
    text-align: center;
}
.best{
    text-align: center;
    background-color: white;
    padding-top: 15px;
    margin-left: 14px;
    margin-bottom: 10px;
    transition: 0.2s all ease-in-out;
}
.ancthird{
    text-decoration: none;
    color:#fcba13;
    font-size: 25px;
    margin-bottom: 12px;
    transition: 0.2s all ease-in-out;
}
.ancthird:hover{
    color: #1a1a1a !important;
}
.fourthdiv{
    background-image: url("images/const1.jpg");
  height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  padding-top: 100px;
}
.awe{
    width: 50%;
    position: absolute;
    right: 100px;
}
.fac{
    font-size: 60px;
    color: white;
}
.four{
    line-height: 1.6;
    color: white;
    font-size: 17px;
}
.nu{
    display: inline-block;
    color: #fcba13;
    font-size: 45px;
}
.buil{
    display: inline-block;
    color: white;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 20px;
}
.proj{
    color: white;
    font-size: 18px;
    /* margin-left: 20px; */
}
.fifth{
    padding-top: 50px;
    padding-bottom: 50px;
}
.fifthwr{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.abtpr{
    font-size: 17px;
    color: grey;
}
.teamimg{
    width: 100%;
    height: 380px;
}
.teamimg:hover{
    border: 3px solid #1a1a1a;
}
.socabt{
    background-color: rgb(24, 24, 24);
    padding: 20px;
}
.socabtico{
    background-color:rgb(24, 24, 24);
    color: white;
    font-size: 12px !important;
    padding: 8px;
    border: 1px solid white;
    text-decoration: none;
}
.socabticof{
    background-color: rgb(24, 24, 24);
    font-size: 10px !important;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
}
.socabtico:hover{
    text-decoration: none;
    color: white;
}
.socabticof:hover{
    text-decoration: none;
    color: white;
}
.worker{
    background-color: rgb(241, 241, 241);
    padding: 18px ;
    height: 90px;
}
.ric{
    color: #1a1a1a;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
}
.ric:hover{
    color: #fcba13;
}
.sixth{
    display: flex;
    flex-wrap: wrap;
}
.freq{
    background-color: #1a1a1a;
    flex: 50%;
    padding: 50px 0px 50px 80px;
}
.grap{
    flex: 50%;
    background-image: url("images/conswork1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 50px 40px;
}
.drpbtn{
    background-color: #fcba13;
    color: white;
    text-align: left;
    width: 94%;
    height: 50px;
    font-size: 18px;
    border: 1px solid #fcba13;
    border-radius: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.drpbtn:hover{
    background-color: #fcba13;
    color: white;
    text-align: left;
    width: 94%;
    height: 50px;
    border: 1px solid #fcba13;
    border-radius: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.adop{
    margin-left: 10px;
}
.sqfre{
        display: inline-block;
        font-size: 6px;
        border: 2px solid white;
        color: white !important;
}
.drpmen{
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    color: white;
    width: 94%;
}
.spa{
    color: white;
}
.graphp{
    margin-bottom: -3px;
}
.blogimg { 
    position: relative;
    width: 100%; 
    height: 250px; 
    overflow: hidden; 
} 
.abso{
    position: absolute;
    top: 0px;
    right: 270px;
}
.date{
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
}
.year{
    background-color: #fcba13;
    color: white;
    padding: 10px;
}
.blogimg img { 
    width: 100%; 
    height: 250px;
    transition: 5s all ease-in-out; 
} 
.blogimg:hover img { 
    transform: scale(2.5); 
}
.blogwrite{
    margin-top: 20px;
}
.blogico{
    color: rgb(104, 104, 104);
    margin-right: 4px;
}
.joh{
    text-decoration: none;
    color: grey;
}
.joh:hover{
    text-decoration: none;
    color: grey;
}
.rich{
    color: #303030;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
}
.rich:hover{
    color: #fcba13;
}
.eigth{
    
    background-image: url("images/client.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
}
.caros{
    margin: 80px;
    text-align: center;
}
.ninth{
    padding: 90px 0px 70px 0px;
}
.ninthico{
    display: inline;
    font-size: 75px;
    margin-left: 100px;
}
.ninthic{
    display: inline;
    font-size: 75px;
}
.tenth{
    background-color: #fcba13;
    padding: 20px 0px 20px 0px;
}
.add{
    border: 1px solid #1a1a1a;
    margin-left: 10px;
    padding: 8px 0px 12px 20px;
    height: 100px;
}
.addico{
    color: #1a1a1a;
    font-size: 65px;
    font-weight: 300 !important;
}
.addinfo{
    color: #1a1a1a;
    margin: -80px 0px 0px 70px;
}
.addinfofax{
    color: #1a1a1a;
    margin: -80px 0px 0px 90px;
}
.addinfoemail{
    color: #1a1a1a;
    margin: -80px 0px 0px 100px;
}
.numb{
    margin-top: -15px;
}
.eleven{
    background-color: #1a1a1a;
    padding: 40px 0px 40px 0px;
}
.buil{
    margin-top: 10px;
}
.icobuil{
    color: #fcba13;
    display: inline-block;
}
.u{
    color: #fcba13;
}
.builpara{
    color: grey;
    line-height: 1.2;
    margin-top: 8px;
}
.datemar{
    display: inline-block;
    background-color: black;
    text-align: center;
    width: 50px;
    padding: 3px 0px 1px 0px;
    height: 65px;
}
.blogg{
    display: inline-block;
    margin-left: 15px;
    margin-top: 8px;
}
.gre{
    color: grey;
    font-size: 24px;
}
.mon{
    color: white;
    font-size: 14px;
}
.blogtitle{
    text-decoration: none;
    color: white;
    transition: 0.3s all ease-in-out;
    font-size: 17px;
    font-weight: bold;
}
.blogtitle:hover{
    color: #fcba13;
}
.blico{
    font-size: 13px;
}
.by{
    color: grey;
    font-size: 14px;
}
.doublearrow{
    font-size: 10px;
    color: grey;
    margin: -5px 4px 0px 0px;
}
.links{
    height: 40px;
}
.abtlink{
    text-decoration: none;
    color: grey;
    transition: 0.3s all ease-in-out;
    font-size: 15px;
}
.abtlink:hover{
    color: #fcba13;
}
.dashed{
    border: 1px dashed grey;
    margin-top: 5px;
}
.inpu{
    background-color: black;
    padding: 15px;
    width: 90%;
    height: 40px;
    color: grey;
    font-size: 15px;
    border: 1px solid grey;
}
.sendbtn{
    color: grey;
    background-color: #fcba13;
    padding: 4px 10px 0px 10px;
    height: 40px;
    width: 15%;
    border-radius: 0px;
    margin: -67px 0px 0px 280px;
}
.soclinkico{
    background-color:#1a1a1a;
    color:grey;
    font-size: 12px !important;
    padding: 8px;
    border: 1px solid grey;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}
.soclinkicof{
    background-color: #1a1a1a;
    font-size: 10px !important;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
    text-decoration: none;
    color: grey;
    transition: 0.3s all ease-in-out;
}
.soclinkico:hover{
    text-decoration: none;
    color: grey;
    background-color: #fcba13;
}
.soclinkicof:hover{
    text-decoration: none;
    color: grey;
    background-color: #fcba13;
}
.yourcom{
    display: inline-block;
    color: grey;
}
.copyright{
    background-color: #161616;
    padding: 30px 0px 20px 110px;
}
.terms{
    display: inline-block;
    margin-left: 350px;
}
.sleach{
    color: grey;
}
.termlink{
    text-decoration: none;
    color: grey;
    transition: 0.3s all ease-in-out;
}
.termlink:hover{
    text-decoration: none;
    color: #fcba13;
}






@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

li {

	width: 80%;
	float: left;
	list-style-type: none;
	
	padding-right: 5.3333333%;
}

li:nth-child(even) { margin-bottom: 1em;}


/* Styling an indeterminate progress bar */

progress:not(value) {
	/* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/* Styling the determinate progress element */

progress[value] {
	/* Get rid of the default appearance */
	appearance: none;
	
	/* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
	border: none;
	
	/* Add dimensions */
	width: 100%; height: 5px;
	
	/* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
	  background-color: whiteSmoke;
	  border-radius: 3px;
	  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	
	/* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
	color: royalblue;
	
	position: relative;
	margin: 0 0 1em; 
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
	position: relative;
	
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
	
	/* Let's animate this */
	animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

/* Let's spice up things little bit by using pseudo elements. */

progress[value]::-webkit-progress-value:after {
	/* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
	content: '';
	position: absolute;
	
	width:5px; height:5px;
	top:7px; right:7px;
	
	background-color: white;
	border-radius: 100%;
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

progress[value]::-moz-progress-bar {
	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #fcba13,#fcba13);
	
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
	
	/* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
.progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

	/* Dimensions should be similar to the parent progress element. */
	width: 100%; height:20px;
}

.progress-bar span {
	background-color: royalblue;
	border-radius: 3px;
	
	display: block;
	text-indent: -9999px;
}

.graphp[data-value] { 
  
  position: relative; 
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

.graphp[data-value]:after {
	content: attr(data-value) '%';
	position: absolute; right:0;
}





.html5::-webkit-progress-value,
.python::-webkit-progress-value  {
	/* Gradient background with Stripes */
	background-image:
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left,#fcba13, #fcba13);
}

.css3::-webkit-progress-value,
.php::-webkit-progress-value 
{
	/* Gradient background with Stripes */
	background-image:
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #fcba13, #fcba13);
}

.jquery::-webkit-progress-value,
.node-js::-webkit-progress-value 
{
	/* Gradient background with Stripes */
	background-image:
	
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #fcba13, #fcba13);
}

/* Similarly, for Mozillaa. Unfortunately combining the styles for different browsers will break every other browser. Hence, we need a separate block. */

.html5::-moz-progress-bar,
.php::-moz-progress-bar {
	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient( left,#fcba13,#fcba13);
}

.css3::-moz-progress-bar,
.php::-moz-progress-bar {

	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #fcba13,#fcba13);
}

.jquery::-moz-progress-bar,
.node-js::-moz-progress-bar {
	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #fcba13, #fcba13);
}

/* Now we are good to duplicate html code for other skills and then add the css code for the new skill based on data-skill */


.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 90px;
    z-index: 10;
}
.contna{
    margin-left: 50px;
    margin-top: -55px;
}
.constt{
    font-size: 15px;
    font-weight: 200;
    margin-top: -14px;
    margin-left: 30px;
}
.navbr{
    color:black!important;
    font-size: 25px;
    font-weight: 500;
    margin-left: 50px;
}
.header{
    margin-top: -220px;
}
.marg{
    margin-top: 150px;
}
.navbrr{
    background-color: transparent !important;
    height: 90px;
}
.black{
    background-color: white !important;
}
.nav-item{
    color: black;
    height: 90px;
    padding-top: 25px;
    font-size: 16px;
}
.nav-link:hover{
    color: #fcba13 !important;
}
.nav-item:hover{
    color: #fcba13;
}
.navcol{
    font-size: 13px;
    font-weight: 700 !important;
    margin-left: 440px !important;
}
.drpitem{
    color: grey;
    transition: 0.3s all ease-in-out;
}
.drpitem:hover{
    background-color: rgb(18, 33, 77);
    color: #fcba13;
}
.eleico{
    margin-right: 8px;
}
.ele{
    width: 760px;
    margin-left: -630px;
    height: 235px;
}
.elementdrp{
    display: inline-block;
    border: 1px solid rgb(209, 209, 209);
    width: 190px;
}
.elementdrps{
    display: inline-block;
    border: 1px solid rgb(209, 209, 209);
    width: 190px;
    margin-left: -4px;
}
.elementdrpss{
    display: inline-block;
    border: 1px solid rgb(209, 209, 209);
    width: 190px;
    margin-left: -4px;
}
.caroparabtn{
   
}
.btnread{
    background-color:  transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0px;
    height: 40px;
    width: 120px;
    transition: 0.2s all ease-in-out;
    font-size: 18px;
    margin: -12px 0px 0px 20px;
    display: inline-block;
}
.h5{
    display: inline-block;
    font-size: 18px;
    line-height: 1.6;
     width: 55%;
}
.btnread:hover{
    color:  grey;
    background-color: white;
    border: 1px solid white;
}
.carousel-caption{
    text-align: left;
    margin-left: -110px;
}
.h1{
    font-weight: 550;
    font-size: 83px !important;
    margin-bottom: 10px;
}
.seventh{
    padding: 90px 0px 70px 0px;
}

.fixed {
    position: fixed;
    bottom: 15px;
    right: 8px;
    width: 60px;
    border: 4px solid #fcba13;
    color: #fcba13;
    border-radius: 60px;
    background-color: #1a1a1a;
    text-align: center;
    text-decoration: none;
    padding-top: 4px;
}
.fixed:hover{
    text-decoration: none;
    color: #fcba13;
}
.bottomMenu {
    z-index: 100;
    opacity: 0;
}

@media only screen and (max-width: 600px){
    .navbr{
        margin-left: 20px;
        margin-right: 90px;
    }
    .navcol{
        font-size: 13px;
        font-weight: 700 !important;
        padding-left: 10px !important;
        margin-left: 0px !important;
        background-color: white;
        width: 300px;
    }
    .seventh{
        padding: 20px 5px 5px 10px;
    }
    .seventhdis{
        line-height:1.8;
        color: white; 
        display: block;
    }
    .btncon{
        display: inline-block;
        border-radius: 0px;
        background-color: #1a1a1a;
        margin-left: 8px;
        margin-top: 5px;
        margin-bottom: 10px;
        height: 45px;
    }
    .aboutcomp{
        margin-bottom: 15px;
    }
    .add{
        border: 1px solid grey;
        margin-left: 0px;
        margin-top: 4px;
        padding: 8px 0px 12px 20px;
        height: 100px;
    }
    .yourcom{
        display: block;
        color: grey;
        text-align: center;
    }
    .copyright{
        background-color: #161616;
        padding: 30px 0px 20px 10px;
    }
    .terms{
        display: block;
        margin-left: 3px;
        text-align: center;
    }
    .abotcomp{
        margin-top: 20px;
    }
    .ite{
        margin-left: 50px;
    }
    
    .best{
        text-align: center;
        background-color: white;
        padding-top: 15px;
        width: 98%;
        margin-left: 3px;
        margin-bottom: 10px;
    }
    .awe{
        width: 100%;
        position: absolute;
        right: 10px;
    }
    
    .fourthdiv{
        background-image: url("images/const1.jpg");
    height: 680px;
    padding-top: 70px;
    }

    .freq{
        background-color: #1a1a1a;
        flex: 100%;
        padding: 50px 0px 50px 10px;
    }
    .adop{
        font-size: 15px !important;
    }
        
    .carou{
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
        margin-left: 0px;
    }
    
.eigth{
    
    background-image: url("images/client.jpg");
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
}
    
}

/* ---------------- */

.carousel-wrap {
    margin: 90px auto;
    padding: 5px;
    width: 95%;
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }
  .flipimag{
    width: 250px;
    height: 420px;
  }
  .flipico{
      font-size: 40px;
      color: #fcba13;
  }
  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 420px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
      padding: 120px 25px 0px 25px;
    background-color: white;
    border: 4px solid #fcba13;
    color: black;
    height: 422px;
    transform: rotateY(180deg);
  }
  .lates{
    background-image: url("images/client.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 730px;
  padding-top: 50px;
}
.carouh5{
    color: white;
    line-height: 1.6;
    margin-bottom: 10px;
}
.carou{
    text-align: center;
    margin-bottom: 10px;
    width: 30%;
    display: inline-block;
    margin-left: 25px;
}
.imgicon{
    text-align: center;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
}